html, body {
    width: 100%;
    background-color: snow;
    font-family: 'Poppins', sans-serif;
}

.nav {
    position: relative;
}

/*.nav-title {
    text-align: center;
    position: absolute;
    min-width: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}*/

.container {
    padding: 50px 0;
    position: relative;
    min-height: 100%;

}

.intro {
    text-align: center;
}

.tiers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tier {
    width: 200px;
    display: inline-block;
}

.create {
    height: 100px;
    width: 200px;
    border-radius: 5%;
    font-weight: bold;
}

.panel {
    margin: 0 5px;
}

.panel-primary > .panel-heading {
  background-color: #607D8B;
}

.panel-body {
    text-align: center;
}

.option {
    display: block;
    width: 100%;
    margin: 3px;
    background-color: lightsteelblue;
}

.option:hover {
    background-color: #607D8B;
}

.checkbox:checked + label {
  background-color: orange;
}

input[type=checkbox] {
	display: none;
}

.next {
    margin: 10px auto;
}

.download {
    width: 35px;
    height: auto;
    border: 1px solid slategray;
    border-radius: 5%;
    padding: 5px;
    margin-top: 5px;
}

.download:hover {
    cursor: pointer;
}

@keyframes glowing {
  0% { background-color: #4682B4; box-shadow: 0 0 3px #4682B4; }
  50% { background-color: #4169E1; box-shadow: 0 0 40px #4169E1; }
  100% { background-color: #4682B4; box-shadow: 0 0 3px #4682B4; }
}

.dl {
  animation: glowing 1500ms infinite;
}

.post-container {
    margin-top: 100px;
    text-align: center;
}

.submit-container {
    position: fixed;
    right: 50px;
    bottom: 40px;
    display: inline-block;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.preview-pane {
    width: 100%;
    height: 500px;
    border: 3px solid gray;
}

.mdl-textfield__input {
    background-color: white;
    color: black;
}

.mdl-textfield {
    width: 150px;
    margin: 10px;
    font-size: 12px;
    padding: 0;
}

.mdl-textfield input {
    color: slategray;
    padding: 0 5px;
}

.mdl-layout__drawer .mdl-textfield {
    padding-left: 30px;
}
