html, body {
    width: 100%;
    background-color: ivory;
}

.nav {
    position: relative;
}

.nav-title {
    text-align: center;
    position: absolute;
    min-width: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container {
    margin-top: 50px;
}

.intro {
    text-align: center;
}

.tiers {
    display: flex;
    align-items: flex-start;
}

.tier {
    width: 200px;
    display: inline-block;
}

.create {
    height: 100px;
    width: 200px;
    border-radius: 5%;
}

.panel {
    margin: 0 5px;
}

.option {
    display: block;
    width: 100%;
    margin: 3px;
}

.checkbox:checked + label {
  background-color: darkblue;
}

input[type=checkbox] {
	display: none;
}

.next {
    margin: 10px auto;
}
