
<div id="form-container">
    <form action="/template" method="POST">

      <h2>Build A Template</h2>

        <div class="form-group">

          <label for="name">Name:</label>
          <input placeholder="Template name..." type="text" class="form-control" name="name" id="templateName">
          <br />
          <label for="text">Text:</label>
          <textarea placeholder="Template text..." class="form-control" rows="10" name="text" id="templateText"></textarea>
          <br />
          <label for="marker">Path:</label>
          <input placeholder="Directory path..." type="text" class="form-control" name="path" id="templatePath">
          <br />
          <label for="template">Filename:</label>
          <input placeholder="Template Type" type="text" class="form-control" name="filename" id="templateFile">
          <br />
          <button id="temp-create" type="submit" class="btn btn-success submit">Create</button>

        </div>

      </form>
</div>
