<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="nav mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <div class="mdl-layout-spacer"></div>

            <span class="nav-title mdl-layout-title">BOILERPLATE</span>
            <!-- Add spacer, to align navigation to the right -->
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">BOILERPLATE</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Home</a>
            <div class="mdl-textfield">
                <span>Email</span><br>
                <input class="email2 mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
            </div>
            <div class="mdl-textfield">
                <span>Password</span><br>
                <input class="password2 mdl-textfield__input" type="password" name="sample" id="fixed-header-drawer-exp">
            </div>
            <a class="login2 mdl-navigation__link" href="#">Log In</a>
        </nav>
    </div>

    <div class='container'>
        <!-- <div class='intro'>
            <button class="create mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Create Project</button>
        </div> -->
        <div class='toggle'>
            <div class='toggle-title'>// CREATE PROJECT</div>
            <div class='toggle-options'></div>

            <!-- <form class='toggle-form'></form> -->
            <img class='project-icon' src='http://www.freeiconspng.com/uploads/project-icon-30.png'>
        </div>
        <div class='tiers'>
            <!-- <div class='section-title'>// CREATE PROJECT</div> -->
            <form class='tiers-form'></form>
        </div>
        <div class='preview'>
            <div class='section-title'>// PREVIEW FILES</div>
            <div class='preview-pane'></div>
            <div class='preview-confirm'><button class='confirm-button btn btn-default btn-lg'>Confirm</button></div>
        </div>
        <div class='post-container'>
            <div class='submit-container'>
                <button class='preview-button btn btn-primary btn-lg'>PREVIEW</button>
            </div>
        </div>
    </div>
</div>
