<div class='preview'>
    <div class='section-title'>// PREVIEW FILES</div>
    <div class='preview-pane'></div>
    <div class='preview-confirm'><button class='confirm-button btn btn-default btn-lg'>Confirm</button></div>
</div>

<div class='post-container'>
    <div class='submit-container'>
        <button class='preview-button btn btn-primary btn-lg'>PREVIEW</button>
    </div>
</div>
