html, body {
    width: 100%;
    background-color: snow;
    font-family: 'Poppins', sans-serif;
}
td {
  word-wrap: break-word;
}

td > button {
  float: right;
}

table {
  table-layout: fixed;
  white-space: normal!important;
}

#snippets-table {
  margin: 0% 0%;
  padding: 0% 0%;
}

#form-container {
  margin: 3% 7%;
}

.markerrow {
  min-width: 150px;
}

.edit {
  display: initial;
}

.cancel {
    margin: 5% 5% 0 0;
    display: none;
}

.save {
    margin: 5% 5% 0 0;
    display: none;
}

.delete {
    margin: 5% 5% 0 0;
    display: none;
}

.nav {
    position: relative;
}

/*.nav-title {
    text-align: center;
    position: absolute;
    min-width: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}*/

.container {
    padding: 30px 0;
    position: relative;
    min-height: 100%;

}

.intro {
    text-align: center;
}

.tiers-form {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.tier {
    /*width: 200px;*/
    flex: 1;
    display: inline-block;
    margin-right: 10px;
    max-width: 25%;
}

.panel {
    width: 100%;
}

.panel {
    margin-bottom: 10px;
}

.panel-primary > .panel-heading {
  background-color: #607D8B;
}

.panel-body {
    text-align: center;
}

.option {
    display: block;
    width: 100%;
    margin: 3px;
    background-color: lightsteelblue;
    border: none;
}

.option:hover {
    background-color: #607D8B;
}

.checkbox:checked + label {
  background-color: orange;
}

input[type=checkbox] {
	display: none;
}

.next {
    margin: 10px auto;
}

.preview-button:hover {
    cursor: pointer;
}

@keyframes glowing {
  0% { background-color: #4682B4; box-shadow: 0 0 3px #4682B4; }
  50% { background-color: #4169E1; box-shadow: 0 0 40px #4169E1; }
  100% { background-color: #4682B4; box-shadow: 0 0 3px #4682B4; }
}

.preview-button {
  animation: glowing 1500ms infinite;
}

.post-container {
    margin-top: 100px;
    text-align: center;
}

.submit-container {
    position: fixed;
    right: 50px;
    bottom: 40px;
    display: inline-block;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.mdl-textfield__input {
    background-color: white;
    color: black;
}

.mdl-textfield {
    width: 150px;
    margin: 10px;
    font-size: 12px;
    padding: 0;
}

.mdl-textfield input {
    color: slategray;
    padding: 0 5px;
}

.mdl-layout__drawer .mdl-textfield {
    padding-left: 30px;
}

.preview-pane {
    width: 100%;
    /*border: 3px solid gray;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preview-box {
    width: 49%;
}

.preview-box .panel-body {
    height: 300px;
}

.preview-box form, .preview-box textarea {
    width: 100%;
    height: 100%;
}

.section-title {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.preview-confirm {
    text-align: center;
    margin-top: 10px;
}

.title {
    border-bottom: 1px double gray;
    font-weight: bold;
    margin: 10px auto;
    width: 50%;
}

.snippets-new, .snippets-history, .new, .history {
    width: 100%;
}

.new {
    min-height: 200px;
}

.subPanel, .subHead, .subBody {
    border: none;
    box-shadow: none;
}

.panel-primary > .subHead {
    background-color: inherit;
    color: dimgray;
    border: none;
    box-shadow: none;
    /*box-shadow: 0 2px 1px grey;*/
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid dimgray;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}


.panel-primary > .subHead:hover {
    cursor: pointer;
    background-color: ghostwhite;
}

.toggle {
    text-align: center;
}

.toggle-options {
    display: flex;
    justify-content: center;
}

.toggle-button {
    width: 100px;
}

.glyphicon {
    padding-top: 3px;
    font-size: 10px;
    color: lightsteelblue;
    margin-right: 7px;
}

.project-icon {
    margin-top: 100px;
    height: 300px;
    opacity: 0.15;
}

.cancel-add {
    margin-top: 7px;
}
